<div *ngIf="listsMenuOpen" class="modalPopupContainer">
  <div class="modalPopup">
    <ul class="list-group" *ngFor="let list of lists">
      <div class="list-group-item movieList">
        <span class="fa fa-bars fa-3x hamburger"></span>

        <div class="textContainerList">
          <div class="listText">
            <!--{{list.name}}-->
            <inline-editor type="text" [(ngModel)]="list.name" (onSave)="blah($event)" name="editableText1" size="40"></inline-editor>
          </div>

          <div class="listOverviewText">
            <!--{{list.description}}-->
            <inline-editor type="text" [(ngModel)]="list.description" (onSave)="blah($event)" name="editableText2" size="40"></inline-editor>
          </div>
        </div>

        <div class="deleteContainer">
          <button class="btn btn-success del-btn" (click)="addToList(list)">Select</button>
        </div>

        <div class="viewContainer">
          <button class="btn btn-primary view-btn">View</button>
        </div>
      </div>
    </ul>
  </div>
</div>

<div *ngIf="listButtonActive && !selectedList" class="toolbar">
  <button class="btn btn-success" style="width: 100%; height: 75px;" (click)="newList()">
    <span class="fa fa-plus fa-3x"></span>
  </button>
</div>

<div *ngIf="selectedList" class="toolbar">
  <button class="btn btn-danger" style="width: 100%; height: 75px;" (click)="viewList(null)">
    <span class="fa fa-arrow-left fa-3x"></span>
  </button>
</div>

<div class="mainContainer" (clickOutside)="toggleListsView(null, false)">
  <!--Lists and Search buttons-->
  <div class="containerButton">

    <!--Show buttons if not viewing list-->
    <div class="left" *ngIf="selectedList == null">
      <container-button [text]="'Lists'" (click)="select(1)" [selected]="listButtonActive"></container-button>
    </div>

    <div class="right" *ngIf="selectedList == null">
      <container-button [text]="'Search'" (click)="select(2)" [selected]="searchButtonActive"></container-button>
    </div>

    <div *ngIf="selectedList" style="width: 100%">
      <div style="position: relative; display: flex; justify-content:center; top:50%; transform: translateY(-50%);">
        <h1 class="listHeader">{{selectedList.name}}</h1>
      </div>
    </div>
    
  </div>

  <!--LISTS-->
  <div *ngIf="listButtonActive" class="listsContainer">
    <div *ngIf="lists && !selectedList" style="max-height: 100%; overflow: auto;">
      <ul class="list-group" *ngFor="let list of lists">
        <div class="list-group-item movieList">
          <span class="fa fa-bars fa-3x hamburger"></span>

          <div class="textContainerList">
            <div class="listText">
              <inline-editor type="text" [(ngModel)]="list.name" (onSave)="blah($event)" name="editableText1" size="40"></inline-editor>
            </div>

            <div class="listOverviewText">
              <inline-editor type="text" [(ngModel)]="list.description" (onSave)="blah($event)" name="editableText2" size="40"></inline-editor>
            </div>
          </div>

          <div class="deleteContainer">
            <button class="btn btn-danger del-btn" (click)="deleteList(list)">Delete</button>
          </div>

          <div class="viewContainer">
            <button class="btn btn-primary view-btn" (click)="viewList(list)">View</button>
          </div>
        </div>
      </ul>
    </div>

    <!--IF NO LISTS SHOW MESSAGE-->
    <div *ngIf="!lists || (lists && lists.length == 0)" style="max-height: 100%; overflow: auto;">
      <div class="placeholder">
        <h1>Click '+' to create new list!</h1>
      </div>
    </div>

    <!--VIEW MOVIES-->
    <div *ngIf="selectedList" style="max-height: 100%; overflow: auto;">
      <ul class="list-group" *ngFor="let movie of selectedList.movies">
        <div class="list-group-item movie">
          <div class="posterImage">
            <img [src]="movie.posterPath">
          </div>

          <div class="textContainer">
            <div class="titleText">
              {{movie.title}}
              <div class="yearText">
                ({{movie.releaseDate}})
              </div>
            </div>

            <div class="overviewText">
              {{movie.overview}}
            </div>
          </div>

          <div class="addContainer">
            <button class="btn btn-danger add-btn" (click)="removeFromList(movie)">Remove</button>
          </div>
        </div>
      </ul>
    </div>
  </div>

  <div *ngIf="searchButtonActive" class="searchContainer">
    <div *ngIf="movieList" style="max-height: 100%; overflow: auto;">
      <ul class="list-group" *ngFor="let movie of movieList">
        <div class="list-group-item movie">
          <div class="posterImage">
            <img [src]="movie.posterPath">
          </div>

          <div class="textContainer">
            <div class="titleText">
              {{movie.title}}
              <div class="yearText">
                ({{movie.releaseDate}})
              </div>
            </div>

            <div class="overviewText">
              {{movie.overview}}
            </div>
          </div>

          <div class="addContainer">
            <button class="btn btn-success add-btn" (click)="toggleListsView(movie, true)">Add</button>
          </div>
        </div>
      </ul>
    </div>

    <!--If movie search empty or null show text-->
    <div *ngIf="!movieList || (movieList && movieList.length == 0)" style="max-height: 100%; overflow: auto;">
      <div class="placeholder">
        <h1>Search for a movie(s)!</h1>
      </div>
    </div>
  </div>

  <div class="listFilterContainer">
    <list-filter *ngIf="listButtonActive" [placeholder]="'Filter movie lists...'" #listFilter (keyup)="update('list')"></list-filter>
    <list-filter *ngIf="searchButtonActive" [placeholder]="'Enter movie...'" #movieSearch (keyup)="update('movie')"></list-filter>
  </div>
</div>
